section.alignment
  .container
    .header
      .title.bold Layout alignment
      .subtitle.
        The <code>.layout-align</code> class is composite for two words, the first
        indicates the horizontal alingment and the second indicates vertical alignment.

        If one word is passed it'kk works but only for horizontal alignment.

    .table-responsive: table
        thead
          tr
            th
              .title Order
            th
              .title Breakpoint
        tbody
          tr.even
            td layout-align
            td Default layout-align can be override by other
          tr.odd
            td layout-align-xs
            td width < 600px
          tr.even
            td layout-align-gt-xs
            td width >= 600px
          tr.odd
            td layout-align-sm
            td 600px <= width < 960px 
          tr.even
            td layout-align-gt-sm
            td width >= 960px
          tr.odd
            td layout-align-md
            td 960px <= width < 1280px
          tr.even
            td layout-align-gt-md
            td width >= 1280px
          tr.odd
            td layout-align-lg
            td 1280px <= width < 1920px
          tr.even
            td layout-align-gt-lg
            td width >= 1920px
          tr.odd
            td layout-align-xl
            td width >= 1920px
            
    .example.layout-row.layout-wrap
      .flex-40.layout-column.layout-align-center
        .flex.layout-row.layout-align-space-around-center
          .box
          .box
          .box
        .flex.box
        .flex.box
      .flex-20.layout-column.layout-align-space-around-stretch
        .flex-30.box
        .flex-30.box
      .flex-40.layout-row.layout-wrap.layout-align-end
        .flex-30.box
        .flex-30.box
        .flex-70.box
        .flex-30.box
    
    .code.row
      pre(contenteditable="true").
        &lt;div class="layout-row layout-wrap"&gt;
          &lt;div class="flex-40 layout-column layout-align-center"&gt;
            &lt;div class="flex layout-row layout-align-space-around-center"&gt;
              &lt;div class="box"&gt;&lt;/div&gt;
              &lt;div class="box"&gt;&lt;/div&gt;
              &lt;div class="box"&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="flex box"&gt;&lt;/div&gt;
            &lt;div class="flex box"&gt;&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="flex-20 layout-column layout-align-space-around-stretch"&gt;
            &lt;div class="flex-30 box"&gt;&lt;/div&gt;
            &lt;div class="flex-30 box"&gt;&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="flex-40 layout-row layout-wrap layout-align-end"&gt;
            &lt;div class="flex-30 box"&gt;&lt;/div&gt;
            &lt;div class="flex-30 box"&gt;&lt;/div&gt;
            &lt;div class="flex-70 box"&gt;&lt;/div&gt;
            &lt;div class="flex-30 box"&gt;&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;