section#fill
  .container
    .header
      .title.bold Fill
      .subtitle.
        The <code>.layout-fill</code> class forces the layout to
        fill its parent container.
    .example.layout.row.wrap.pa-2.spacing-1
      .flex-3.pa-2: .box .flex-3
      .flex-5.layout.row.pa-2: .box Unfilled layout
      .layout.row.fill.level-2.pa-2: .box Filled layout

    .code.row
      pre(contenteditable="true").
        &lt;div class="example layout row wrap pa-2"&gt;
          &lt;div class="flex-3 pa-2"&gt;
            &lt;div class="box"&gt;.flex-3&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="flex-5 layout row pa-2"&gt;
            &lt;div class="box"&gt;Unfilled layout&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="layout row fill level-2 pa-2"&gt;
            &lt;div class="box"&gt;Filled layout&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;