section.flex
   .container
      .header
         .title.bold Flex
         .subtitle.
            The <code>.flex</code> class added to a layout's child element will flex 
            (grow or shrink) to fit the unused are by other elements.
      .example.layout.row.wrap.spacing-1
         .flex-1: .box .flex-1
         .flex-2: .box .flex-2
         .flex-3: .box .flex-3
         .flex-4: .box .flex-4
         .flex-5: .box .flex-5
         .flex-8: .box .flex-8
         .flex: .box .flex

      .code.row
         pre(contenteditable="true").
            &lt;div class="layout row wrap spacing-1"&gt;
               &lt;div class="flex-1"&gt;
                  &lt;div class="box"&gt;.flex-1&lt;/div&gt;
               &lt;/div&gt;
               &lt;div class="flex-2"&gt;
                  &lt;div class="box"&gt;.flex-2&lt;/div&gt;
               &lt;/div&gt;
               &lt;div class="flex-3"&gt;
                  &lt;div class="box"&gt;.flex-3&lt;/div&gt;
               &lt;/div&gt;
               &lt;div class="flex-4"&gt;
                  &lt;div class="box"&gt;.flex-4&lt;/div&gt;
               &lt;/div&gt;
               &lt;div class="flex-5"&gt;
                  &lt;div class="box"&gt;.flex-5&lt;/div&gt;
               &lt;/div&gt;
               &lt;div class="flex-8"&gt;
                  &lt;div class="box"&gt;.flex-8&lt;/div&gt;
               &lt;/div&gt;
               &lt;div class="flex"&gt;
                  &lt;div class="box"&gt;.flex&lt;/div&gt;
               &lt;/div&gt;
            &lt;/div&gt;

      .header
         .title.bold Responsive Flex
         .subtitle.
            The flex classes are responsive.
      .example.layout.row.wrap.spacing-1
         .flex-xs-9.flex-3: .box flex 66% on mobile and 33% otherwise
         .flex-xs-3.flex-9: .box flex 33% on mobile and 66% otherwise

      .header
         .title.bold Flex values
         .subtitle.
            The layout provides various flex values to improve flexibility.
      .table-responsive: table
         thead
            tr
               th
                  .title Value
               th
                  .title Description
         tbody
            tr.even
               td flex
               td
                  | Will grow and shrink as needed.
                  br
                  | Starts with a size of 0%. Same as <pre>.flex-0</pre>.
            tr.odd
               td flex-none
               td
                  | Will not grow nor shrink.
                  br
                  | Sized based on its <pre>width</pre> and <pre>height</pre> values.
            tr.even
               td flex-initial
               td
                  | Will shrink as needed.
                  br
                  | Sized based on its <pre>width</pre> and <pre>height</pre> values.
            tr.odd
               td flex-auto
               td
                  | Will grow and shrink as needed.
                  br 
                  | Starts with a size based on its <pre>width</pre> and <pre>height</pre> values.
            tr.even
               td flex-grow
               td
                  | Will grow and shrink as needed.
                  br
                  | Starts with a size of 100%. Same as <pre>.flex-12</pre>.
            tr.odd
               td flex-nogrow
               td
                  | Will shrink as needed, but won't grow.
                  br 
                  | Starts with a size based on its <pre>width</pre> and <pre>height</pre> values.
            tr.even
               td flex-noshrink
               td
                  | Will grow as needed, but won't shrink.
                  br
                  | Starts with a size based on its <pre>width</pre> and <pre>height</pre> values.
            tr.odd
               td flex-0
               td
                  | Will grow and shrink as needed.
                  br
                  | Starts with a size of 0%. Same as <pre>.flex</pre>.
