section.options
  .container
    .header
      .title.bold Options
      .subtitle Layout behaviour.
    .table-responsive: table
      thead
        tr
          th
          th
            .title Extra small devices
            .subtitle Smartphone
            .subtitle (<30rem or <480px)
          th
            .title Small devices
            .subtitle Tablet
            .subtitle (&ge;30rem or &ge;480px)
          th
            .title Medium devices
            .subtitle Laptop
            .subtitle (&ge;48rem or  &ge;768px)
          th
            .title Large devices
            .subtitle Desktop
            .subtitle (&ge;64rem or &ge; 1024px)
          th
            .title Extra Large devices
            .subtitle Tv
            .subtitle (&ge;75rem or &ge; 1200px)
      tbody
        tr.even
          td.title.bold Container width
          td 95%
          td 80%
          td 75%
          td 70%
          td 65%
        tr.odd
          td.title.bold Flex size
          td(colspan=5) Multiples of 5, 33 or 66
        tr.even
          td.title.bold Nestable
          td(colspan=5) Yes
        tr.odd
          td.title.bold Offsets
          td(colspan=5) Yes
        tr.even
          td.title.bold Ordering
          td(colspan=5) Yes
        tr.odd
          td.title.bold Vertical alignment
          td(colspan=5) Start, Center, End, Stretch
        tr.even
          td.title.bold Horizontal alignment
          td(colspan=5) Start, Center, End, Space around, Space between
        tr.odd
          td.title.bold Show &amp; Hide
          td(colspan=5) Yes