section.options
  .container
    .row: .col.xs-12
      h1.bold Options
      h4.
        Grid behaviour.
    .table-responsive: table
      thead
        tr
          th
          th
            .title Extra small devices
            .subtitle Smartphone
            .subtitle (<30rem or <480px)
          th
            .title Small devices
            .subtitle Tablet
            .subtitle (&ge;30rem or &ge;480px)
          th
            .title Medium devices
            .subtitle Laptop
            .subtitle (&ge;48rem or  &ge;768px)
          th
            .title Large devices
            .subtitle Desktop
            .subtitle (&ge;64rem or &ge; 992px)
          th
            .title Extra Large devices
            .subtitle Tv
            .subtitle (&ge;75rem or &ge; 1200px)
      tbody
        tr.odd
          td.bold # of columns
          td(colspan=4) 12
        tr.even
          td.bold Container width
          td 95%
          td 90%
          td 80%
          td 75%
          td 70%
          
        tr.odd
          td.bold Class prefix
          td: pre .xs-*
          td: pre .sm-*
          td: pre .md-*
          td: pre .lg-*
          td: pre .xl-*
        
        tr.even
          td.bold Nestable
          td(colspan=5) Yes
        tr.odd
          td.bold Offsets
          td(colspan=5) Yes
        tr.even
          td.bold Ordering
          td(colspan=5) Yes
        tr.odd
          td.bold Alignment
          td(colspan=5) Top, Middle, Bottom, Stretch
        tr.even
          td.bold Distribution
          td(colspan=5) Start, Center, End, Space Around, Space Between
        tr.odd
          td.bold Show &amp; Hide
          td(colspan=5) Yes