section#padding
  .container
    .header
      .title.bold Padding
      .subtitle.
        The <code>.layout-padding</code> class add padding to the layout 
        as well as all the flex children.
    .example.layout-row.layout-wrap.layout-padding
      .flex-30: .box .flex-30
      .flex-45: .box .flex-45
      .flex-25: .box .flex-25