section#padding
  .container
    .header
      .title.bold Padding
      .subtitle.
        The <code>.p{a,t,r,b,l}-{1-5}</code> class add padding to elements.
    .example.layout.row.wrap.p2
      .box.ma-2.pa-1 .pa-1
      .box.ma-2.pa-2 .pa-2
      .box.ma-2.pa-3 .pa-3
      .box.ma-2.pa-4 .pa-4
      .box.ma-2.pa-5 .pa-5
    .header
      .title.bold Padding axis
      .subtitle.
        The <code>.p{x,y}-{1-5}</code> class add padding to elements.
    .example.layout.row.wrap.p2
      .box.ma-2.py-5 .py-5
      .box.ma-2.px-5 .px-5