section.responsive
  .container
    .header
      .title.bold Responsive
      .subtitle.
        The system was build to response to different sizes in which includes the flex,
        offsets, horizontal alignment, vertical alignment, show and hide for xs, sm, md, 
        lg and xl sizes.

    .table-responsive: table
      thead
        tr
          th
            .title Layout
          th
            .title Breakpoint
      tbody
        tr.even
          td {row,column}
          td Default layout can be override by other
        tr.odd
          td {row,column}-xs
          td width < 600px
        tr.even
          td {row,column}-gt-xs
          td width >= 600px
        tr.odd
          td {row,column}-sm
          td 600px <= width < 960px 
        tr.even
          td {row,column}-gt-sm
          td width >= 960px
        tr.odd
          td {row,column}-md
          td 960px <= width < 1280px
        tr.even
          td {row,column}-gt-md
          td width >= 1280px
        tr.odd
          td {row,column}-lg
          td 1280px <= width < 1920px
        tr.even
          td {row,column}-gt-lg
          td width >= 1920px
        tr.odd
          td {row,column}-xl
          td width >= 1920px

    .example.layout.column
      .layout.row.wrap.spacing-1
        .flex-xs-3.flex-sm-7.flex-gt-sm-3: .box
        .flex-xs-9.flex-sm-5.flex-gt-sm-6: .box
        .flex-xs-12.flex-sm-12.flex-gt-sm-3: .box

      .layout.row.wrap.spacing-1
        .flex-2.flex-gt-md-4: .box
        .flex-2.flex-gt-md-1: .box
        .flex-2.flex-gt-md-1: .box
        .flex-2.flex-gt-md-1: .box
        .flex-2.flex-gt-md-1: .box
        .flex-2.flex-gt-md-4: .box

      .layout.row.wrap.spacing-1
        .flex-xs-3.flex-sm-9.flex-gt-sm-6: .box
        .flex-xs-9.flex-sm-3.flex-gt-sm-6: .box

    .code.row
      pre(contenteditable="true").
        &lt;div class="example layout column"&gt;
          &lt;div class="layout row wrap spacing-1"&gt;
            &lt;div class="flex-xs-3 flex-sm-7 flex-gt-sm-3"&gt;
              &lt;div class="box"&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="flex-xs-9 flex-sm-5 flex-gt-sm-6"&gt;
              &lt;div class="box"&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="flex-xs-12 flex-sm-12 flex-gt-sm-3"&gt;
              &lt;div class="box"&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="layout row wrap spacing-1"&gt;
            &lt;div class="flex-2 flex-gt-md-4"&gt;
              &lt;div class="box"&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="flex-2 flex-gt-md-1"&gt;
              &lt;div class="box"&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="flex-2 flex-gt-md-1"&gt;
              &lt;div class="box"&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="flex-2 flex-gt-md-1"&gt;
              &lt;div class="box"&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="flex-2 flex-gt-md-1"&gt;
              &lt;div class="box"&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="flex-2 flex-gt-md-4"&gt;
              &lt;div class="box"&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="layout row wrap spacing-1"&gt;
            &lt;div class="flex-xs-3 flex-sm-9 flex-gt-sm-6"&gt;
              &lt;div class="box"&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="flex-xs-9 flex-sm-3 flex-gt-sm-6"&gt;
              &lt;div class="box"&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;