section.sandbox
  .container
    .row: .col.xs-12
      h1.bold Sandbox
      h4 Enjoy the power of flexbox
    
    .row: .col
      .sandbox-container.top-xs.start-xs.row
        .box.box0
        .box.box1
        .box.box2
    .controls.row.around-xs
      .col.xs-12.sm-4.start-xs
        .title.center-xs Direction
        form.md-offset-3
          input(type='radio' name='direction' onchange='setDirection("row")' value='row' checked)
          span Row
          br
          input(type='radio' name='direction' onchange='setDirection("col")' value='col')
          span Col
          br
          input(type='radio' name='direction' onchange='setDirection("row reverse")' value='row.reverse')
          span Row reverse
          br
          input(type='radio' name='direction' onchange='setDirection("col reverse")' value='col.reverse')
          span Column reverse
          br
      .col.xs-12.sm-4.start-xs
        .title.center-xs Alignment
        form.md-offset-3
          input(type='radio' name='aligmnet' onchange='setAligment("top")' value='top' checked)
          span Top
          br
          input(type='radio' name='aligmnet' onchange='setAligment("middle")' value='middle')
          span Middle
          br
          input(type='radio' name='aligmnet' onchange='setAligment("bottom")' value='bottom')
          span Bottom
          br
          input(type='radio' name='aligmnet' onchange='setAligment("stretch")' value='stretch')
          span Stretch
        br
      .col.xs-12.sm-4.start-xs
        .title.center-xs Distribution
        form.md-offset-3
          input(type='radio' name='distribution' onchange='setDistribution("start")' value='start' checked)
          span Start
          br
          input(type='radio' name='distribution' onchange='setDistribution("center")' value='center')
          span Center
          br
          input(type='radio' name='distribution' onchange='setDistribution("end")' value='end')
          span End
          br
          input(type='radio' name='distribution' onchange='setDistribution("around")' value='around')
          span Around
          br
          input(type='radio' name='distribution' onchange='setDistribution("between")' value='between')
          span Between
          br