@import '_sizes';

$justify-content: (
   baseline: baseline,
   center: center,
   end: flex-end,
   start: flex-start,
   stretch: stretch,
   space-around: space-around,
   space-between: space-between,
);

$align-items: (
   baseline: baseline,
   center: center,
   end: flex-end,
   start: flex-start,
   stretch: stretch,
);

$align-content: (
   baseline: baseline,
   center: center,
   end: flex-end,
   start: flex-start,
   stretch: stretch,
   space-around: space-around,
   space-between: space-between,
);

@each $nameJust, $valueJust in $justify-content {
   .justify-content-#{$nameJust} {
      justify-content: $valueJust;
   }
}

@each $nameJust, $valueJust in $align-items {
   .align-items-#{$nameJust} {
      align-items: $valueJust;
   }
}

@each $nameJust, $valueJust in $align-content {
   .align-content-#{$nameJust} {
      align-content: $valueJust;
   }
}

.center,
.center-align {
   text-align: center;
}

.left-align {
   text-align: left;
}

.right-align {
   text-align: right;
}
