.center,
.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

$sizes: ( xs: $xs-screen-and-up, sm: $sm-screen-and-up, md: $md-screen-and-up, lg: $lg-screen-and-up);
@each $size,
$query in $sizes {
  @media #{$query} {
    .start-#{$size} {
      justify-content: flex-start;
      text-align: start;
    }
    .center-#{$size} {
      justify-content: center;
      text-align: center;
    }
    .end-#{$size} {
      justify-content: flex-end;
      text-align: end;
    }
    .around-#{$size} {
      justify-content: space-around;
    }
    .between-#{$size} {
      justify-content: space-between;
    }


    .top-#{$size} {
      align-items: flex-start;
      align-content: flex-start;
    }
    .middle-#{$size} {
      align-items: center;
      align-content: center;      
    }
    .bottom-#{$size} {
      align-items: flex-end;
      align-content: flex-end;
    }
    .stretch-#{$size} {
      align-items: stretch;
      align-content: stretch;
    }
  }
}