@import '_queries';

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  &.reverse {
    flex-direction: row-reverse;
  }
  &.col {
    flex-direction: column;
    &.reverse {
      flex-direction: column-reverse;
    }
  }
}
.col {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  &.reverse {
    flex-direction: column-reverse;
  }
}

$sizes: (
  xs: $xs-screen-and-up,
  sm: $sm-screen-and-up,
  md: $md-screen-and-up,
  lg: $lg-screen-and-up
);

@each $size, $query in $sizes {
  @media #{$query} {
    @for $i from 1 through 12 {
      .#{$size}-#{$i},
      .#{$size}-offset-#{$i} {
        box-sizing: border-box;
        flex: 0 0 auto;
      }
      .#{$size}-#{$i} {
        flex-basis: percentage($i / 12);
        max-width: percentage($i / 12);
      }
      .#{$size}-offset-#{$i} {
        margin-left: percentage($i / 12);
      }
    }
    .first-#{$size} {
      order: -1;
    }
    .last-#{$size} {
      order: 1;
    }
  }
}