@import '_queries';

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -8px;
  @media #{$sm-screen-and-up} {
    margin-left: -8px;
    margin-right: -8px;
  }
  box-sizing: border-box;
  &.reverse {
    flex-direction: row-reverse;
  }
  &.col {
    flex-direction: column;
    margin: 0;
    &.reverse {
      flex-direction: column-reverse;
    }
  }
}
.col {
  flex: 1 0 0%;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  &.reverse {
    flex-direction: column-reverse;
  }
}

$sizes: (
  xs: $xs-screen-and-up,
  sm: $sm-screen-and-up,
  md: $md-screen-and-up,
  lg: $lg-screen-and-up,
  xl: $xl-screen-and-up,
);

@each $size, $query in $sizes {
  @media #{$query} {
    @for $i from 1 through 12 {
      .#{$size}-#{$i},
      .#{$size}-offset-#{$i} {
        box-sizing: border-box;
      }
      .#{$size}-#{$i} {
        flex-basis: percentage($i / 12);
        max-width: percentage($i / 12);
      }
      .#{$size}-offset-#{$i} {
        margin-left: percentage($i / 12);
      }
    }
    .first-#{$size} {
      order: -1;
    }
    .last-#{$size} {
      order: 1;
    }
  }
}