@import '_queries';

$sizes: ( 
  xs: $xs-screen, 
  gt-xs: $xs-screen-and-up, 
  sm: $sm-screen, 
  gt-sm: $sm-screen-and-up, 
  md: $md-screen, 
  gt-md: $md-screen-and-up, 
  lg: $lg-screen, 
  gt-lg: $lg-screen-and-up, 
  xl: $xl-screen
);

.layout,
.layout-column,
.layout-row,
.layout-row-reverse,
.layout-column-reverse {
  box-sizing: border-box;
  display: flex;
}
.layout-column {
  flex-direction: column;
}
.layout-row {
  flex-direction: row;
}
.layout-row-reverse {
  flex-direction: row-reverse;
}
.layout-column-reverse {
  flex-direction: column-reverse;
}
@each $name, $value in $sizes {
  @media #{$value} {
    .layout-#{$name},
    .layout-#{$name}-column,
    .layout-#{$name}-row {
      box-sizing: border-box;
      display: flex;
    }
    .layout-#{$name}-column {
      flex-direction: column;
    }
    .layout-#{$name}-row {
      flex-direction: row;
    }
  }
}
.layout-fill {
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.layout-wrap {
  flex-wrap: wrap;
}

.layout-nowrap {
  flex-wrap: nowrap;
}
