@import '_sizes';

.layout,
.layout-column,
.layout-row,
.layout-row-reverse,
.layout-column-reverse {
   box-sizing: border-box;
   display: flex;
}

.column {
   flex-direction: column;
}
.row {
   flex-direction: row;
}
.row-reverse {
   flex-direction: row-reverse;
}
.column-reverse {
   flex-direction: column-reverse;
}

// Display none layouts, put before all to avoid override
@each $name, $value in $sizes {
   .layout-#{$name},
   .layout-#{$name}-column,
   .layout-#{$name}-row,
   .layout-#{$name}-row-reverse,
   .layout-#{$name}-column-reverse {
      display: none;
   }
}

@each $name, $value in $sizes {
   @media #{$value} {
      .layout-#{$name},
      .layout-#{$name}-column,
      .layout-#{$name}-row {
         box-sizing: border-box;
         display: flex;
      }
      .layout-#{$name}-column {
         flex-direction: column;
      }
      .layout-#{$name}-row {
         flex-direction: row;
      }
      .layout-#{$name}-column-reverse {
         flex-direction: column-reverse;
      }
      .layout-#{$name}-row-reverse {
         flex-direction: row-reverse;
      }
   }
}

.fill {
   margin: 0;
   width: 100%;
   min-height: 100%;
   height: 100%;
}

.wrap {
   flex-wrap: wrap;
}

.nowrap {
   flex-wrap: nowrap;
}
