.layout-margin-sm>* {
  margin: 4px;
}

.layout-margin {
  >.flex-sm {
    margin: 4px;
  }
  margin: 8px;
}

.layout-margin-gt-sm,
.layout-margin-md {
  margin: 8px;
  >* {
    margin: 8px;
  }
}

.layout-margin> {
  *,
  .flex,
  .flex-gt-sm,
  .flex-md {
    margin: 8px;
  }
}

.layout-margin-gt-lg>*,
.layout-margin-gt-md>*,
.layout-margin-lg>* {
  margin: 16px;
}

.layout-margin> {
  .flex-gt-lg,
  .flex-gt-md,
  .flex-lg {
    margin: 16px;
  }
}