@import '_variables';

// Direction padding
@each $nspacing, $vspacing in $spacing {
   @each $ndirection, $value in $direction {
      .m#{$ndirection}-#{$nspacing} {
         padding#{$value}: $vspacing;
      }
   }
   .layout.row.spacing-#{$nspacing}:not(:last-child) > * {
      margin-right: $vspacing;
   }
   .layout.column.spacing-#{$nspacing}:not(:last-child) > * {
      margin-bottom: $vspacing;
   }
}

// Axis padding
@each $nspacing, $vspacing in $spacing {
   .my-#{$nspacing} {
      padding: $vspacing 0;
   }
   .mx-#{$nspacing} {
      padding: 0 $vspacing;
   }
}
