@import '_sizes';

@for $i from 0 through 95 {
   @if ($i % 5==0 or $i % 33==0) {
      .offset-#{$i} {
         margin-left: percentage($i) / 100;
      }
      [dir='rtl'] {
         .offset-#{$i} {
            margin-left: auto;
            margin-right: percentage($i) / 100;
         }
      }
      @each $name, $value in $sizes {
         @media #{$value} {
            .offset-#{$name}-#{$i} {
               margin-left: percentage($i) / 100;
            }
            [dir='rtl'] {
               .offset-#{$name}-#{$i} {
                  margin-left: auto;
                  margin-right: percentage($i) / 100;
               }
            }
         }
      }
   }
}
