.layout-padding-sm>* {
  padding: 4px;
}

.layout-padding {
  >.flex-sm {
    padding: 4px;
  }
  padding: 8px;
}

.layout-padding-gt-sm,
.layout-padding-md {
  padding: 8px;
  >* {
    padding: 8px;
  }
}

.layout-padding> {
  *,
  .flex,
  .flex-gt-sm,
  .flex-md {
    padding: 8px;
  }
}

.layout-padding-gt-lg>*,
.layout-padding-gt-md>*,
.layout-padding-lg>* {
  padding: 16px;
}

.layout-padding> {
  .flex-gt-lg,
  .flex-gt-md,
  .flex-lg {
    padding: 16px;
  }
}