@import '_variables';

@each $ndirection, $value in $direction {
   // Direction padding
   @each $nspacing, $vspacing in $spacing {
      .p#{$ndirection}-#{$nspacing} {
         padding#{$value}: $vspacing;
      }

      // Padding for child elements of a layout
      .layout.spacing-#{$nspacing} > * {
         padding: $vspacing;
      }
   }
}

// Axis padding
@each $nspacing, $vspacing in $spacing {
   .py-#{$nspacing} {
      padding: $vspacing 0;
   }
   .px-#{$nspacing} {
      padding: 0 $vspacing;
   }
}
