@import 'variables';

$xs-screen: 'only screen and (max-width: #{$xs-break} )';
$xs-screen-and-up: 'only screen'; 

$sm-screen-and-down: 'only screen and (max-width: #{$xs-break} )';
$sm-screen: 'only screen and (min-width: #{$xs-break + 1}) and (max-width: #{$sm-break})';
$sm-screen-and-up: 'only screen and (min-width: #{$xs-break + 1})';

$md-screen-and-down: 'only screen and (max-width: #{$sm-break})';
$md-screen: 'only screen and (min-width: #{$sm-break + 1}) and (max-width: #{$md-break})';
$md-screen-and-up: 'only screen and (min-width: #{$sm-break + 1})';

$lg-screen-and-down: 'only screen and (max-width: #{$md-break})';
$lg-screen: 'only screen and (min-width: #{$md-break + 1}) and (max-width: #{$lg-break})';
$lg-screen-and-up: 'only screen and (min-width: #{$md-break + 1})';

$xl-screen-and-down: 'only screen and (max-width: #{$lg-break})';
$xl-screen: 'only screen and (min-width: #{$lg-break + 1})';
$xl-screen-and-up: 'only screen and (min-width: #{$lg-break + 1})';

$gutter-width: 1rem;
$outer-margin: 2rem;
$gutter-compensation: $gutter-width * 0.5 * -1;
$half-gutter-width: $gutter-width * 0.5;

$container-sm: calc( $sm-min+ $gutter-width);
$container-md: calc( $md-min+ $gutter-width);
$container-lg: calc( $lg-min+ $gutter-width);