@import '_sizes';

@each $breakpoint, $query in $sizes {
   // Hidden by default, if media is equal then will show
   .show-#{$breakpoint} {
      display: none;
      @media #{$query} {
         display: flex;
      }
   }

   // Showed by default, if media is equal then will hide
   .hide-#{$breakpoint} {
      display: flex;
      @media #{$query} {
         display: none;
      }
   }
}
