@import 'settings';

$xs-break: 30rem;
$sm-break: 48rem;
$md-break: 64rem;
$lg-break: 75rem;

@if $pixels_units{
  @debug "$pixels_units is #{$pixels_units}";
  $xs-break: 480px;
  $sm-break: 768px;
  $md-break: 992px;
  $lg-break: 1200px;
}
